.fan-table {
  width: 100%;
}

.fan-table thead {
  line-height: 2em;
  text-transform: uppercase;
  text-align: left;
}

.fan-table th,
.fan-table td {
  padding: 5px 50px 5px 0;
  border-bottom: solid 1px;
}

.fan-table th:last-child,
.fan-table td:last-child {
  padding-right: 0;
  text-align: right;
}

.fan-table tbody tr:hover {
  background: #a4b1d5;
}

.fan-table tbody tr:hover a {
  color: #fff;
}

.fan-table__actions-list {
  display: inline-block;
  margin: 0;
}

.fan-table__actions-list li {
  list-style-type: none;
  float: left;
  margin-right: 10px;
  font-size: 0.8em;
  text-transform: lowercase;
}

.fan-table__actions-list li:last-child {
  margin-right: 0;
}

.page-sub-header select {
  margin-right: 10px;
}

textarea,
input[type="text"],
input[type="password"] {
  padding: 15px 10px;
}

.page-sub-header button {
  float: right;
}

.page-sub-header {
  margin-bottom: 15px;
}

#title-input {
  border-color: transparent;
  box-shadow: none;
  font-size: 21px;
  padding-left: 0;
  margin: 5px 0;

  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

#title-input:hover {
/*  border: solid 1px;
  padding: 14px 10px;*/
  font-size: 14px;
  padding-left: 10px;

  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
















