.table-hover .thead td {
  line-height: 2em;
  text-align: left;
  font-weight: bold;
}

.table td:last-child {
  padding-right: 0;
  text-align: right;
}

.site-table tbody tr:hover a {
  color: #fff;
}

.site-table__actions-list {
  display: inline-block;
  margin: 0;
}

.site-table__actions-list li {
  list-style-type: none;
  float: left;
  margin-right: 10px;
  font-size: 0.8em;
  text-transform: lowercase;
}

.site-table__actions-list li:last-child {
  margin-right: 0;
}

.page-sub-header select {
  margin-right: 10px;
}

textarea,
input[type="text"],
input[type="password"] {
  /*padding: 15px 10px;*/
}

.page-sub-header button {
  float: right;
}

.page-sub-header {
  margin-bottom: 15px;
}

#title-input {
  border-color: transparent;
  box-shadow: none;
  font-size: 21px;
  padding-left: 0;
  margin: 5px 0;

  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

#title-input:hover {
/*  border: solid 1px;
  padding: 14px 10px;*/
  font-size: 14px;
  padding-left: 10px;

  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.row-fluid > form > div:nth-child(2) {
  margin-left: 0;
}


/*.form-horizontal .control-label {
  width: 145px
}

.form-horizontal .controls {
  margin-left: 165px;
}

.form-horizontal .controls select {
  width: 205px;
}*/

select {
  width: 210px;
}

.input-append .add-on, .input-prepend .add-on {
  height: 22px;
}

.hide {
  display: none;
}

.table-hover tbody tr:hover > td {
  background: #e9e9e9;
}

.table-hover tbody .thead:hover > td {
  background: transparent;
}

/***** Login *****/
body {
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 40px auto 20px auto;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.pkt_added {text-decoration:none !important;}






