.table-hover .thead td {
  line-height: 2em;
  text-align: left;
  font-weight: bold;
}

.table td:last-child {
  padding-right: 0;
  text-align: right;
}

.site-table tbody tr:hover a {
  color: #fff;
}

.nav li,
.nav a {
  cursor: pointer;
}

.site-table__actions-list {
  display: inline-block;
  margin: 0;
}

.site-table__actions-list li {
  list-style-type: none;
  float: left;
  margin-right: 10px;
  font-size: 0.8em;
  text-transform: lowercase;
}

.site-table__actions-list li:last-child {
  margin-right: 0;
}

.page-sub-header select {
  margin-right: 10px;
}

textarea,
input[type="text"],
input[type="password"] {
  /*padding: 15px 10px;*/
}

.page-sub-header button {
  float: right;
}

.page-sub-header {
  margin-bottom: 15px;
}

#title-input {
  border-color: transparent;
  box-shadow: none;
  font-size: 21px;
  padding-left: 0;
  margin: 5px 0;
  background: #f5f5f5;
  padding: 15px 10px;

  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

#title-input:hover {
/*  border: solid 1px;
  padding: 14px 10px;*/
  font-size: 14px;
  padding-left: 10px;
  background: #fff;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.title-select {
  float: right;
}

.row-fluid > form > div:nth-child(2) {
  margin-left: 0;
}


/*.form-horizontal .control-label {
  width: 145px
}

.form-horizontal .controls {
  margin-left: 165px;
}

.form-horizontal .controls select {
  width: 205px;
}*/

select {
  width: 210px;
}

.input-append .add-on, .input-prepend .add-on {
  height: 22px;
}

.hide {
  display: none;
}

.table-hover tbody tr:hover > td {
  background: #ededed;
}

.table-hover tbody .thead:hover > td {
  background: transparent;
}

/***** Login *****/
body {
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

/*body.login {
    background-color: #f5f5f5;
}*/

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 40px auto 20px auto;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.pkt_added {text-decoration:none !important;}

/***** Gwt Date-Picker *****/
.gwt-DatePicker {
  background: #eee;
  color: #556;
  border-radius: 7px;
  box-shadow: 0px 0px 1px 0px #000, 2px 2px 10px -1px #ccc;
}

.gwt-DatePicker:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: solid 6px transparent;
  border-bottom-color: #aaa;
  position: absolute;
  top: -12px;
  left: 20px;
}

.gwt-DatePicker:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: solid 5px transparent;
  border-bottom-color: #eee;
  position: absolute;
  top: -10px;
  left: 21px;
}

.gwt-DatePicker td {
  padding: 3px 5px;
}

.datePickerMonth {
  width: 174px;
  text-align: center;
  font-weight: bold;
}

.gwt-DatePicker > tbody > tr:nth-child(2) {
  background: #fff;
}

.datePickerDay {
  padding: 2px 5px;
  font-size: 12px;
}

.datePickerDay:hover {
  background: #eee;
  font-weight: bold;
  padding: 1px 5px;
  cursor: pointer;
}

.datePickerNextButton,
.datePickerPreviousButton {
  cursor: pointer;
  padding: 0 5px;
}

.datePickerWeekdayLabel {
  color: #ccc;
}

.datePickerWeekendLabel {
  color: #aaa;
}

.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  text-align: left!important;
}

.datePickerDayIsValue {
  background: #aaa;
  color: #fff;
}

.datePickerDayIsValue:hover {
  background: #aaa;
}

.datePickerDayIsToday {
  color: red!important;
}

.datePickerDayIsToday:hover {
  color: red!important;
}

/*.gwt-DatePicker {
  border: 1px solid #f1f1f1;
  border-bottom: 2px solid #f1f1f1;
  color: 6b6b6b;
  cursor: default;
  width: 7em;
}

.datePickerDay,.datePickerWeekdayLabel,.datePickerWeekendLabel {
  font-family: Arial;
  font-size: 65%;
  padding: 2px;
  text-align: center;
  padding: 2px;
  outline: none;
  cursor: default;
}

.gwt-DatePicker td,.datePickerMonthSelector  td :focus {
  outline: none
}

.gwt-DateBox input {
  width: 8em;
}

/*
* Calendar styles
*/
/*.datePickerDays {
  background-color: white;
  width: 100%;
}

.datePickerWeekdayLabel {
  background: #dbe6de;
}

.datePickerWeekendLabel {
  background: #dbe7ef;
}

.datePickerDay {
  padding: 1px;
  cursor: hand;
  width: 1em;
}

.datePickerDayIsToday {
  border: 1px solid black;
  padding: 0px;
}

.datePickerDayIsWeekend {
  background: #f1f1f1;
}

.datePickerDayIsFiller {
  color: #bfbfbf;
  padding: 1px;
  cursor: hand;
}

.datePickerDayIsSelected {
  background: #aaccee;
}

.datePickerDayIsDisabled {
  color: graytext;
}

.datePickerDayIsHighlighted {
  border: 1px solid #eeeeee;
  padding: 0px;
}

.datePickerDayIsSelectedAndHighlighted {
   background: #bbddff;
}
*/

/*
* Month selector styles
*/
/*.datePickerMonthSelector {
  background: #dbe6de;
  width: 100%;
  text-align: center;
}

.datePickerMonth {
  text-align: center;
  vertical-align: center;
  white-space: nowrap;
  font-weight: bold;
  font-size: 70%;
}

.datePickerPreviousButton {
   text-align: left;
}

.datePickerNextButton {
     text-align: right;
}*/
