/* ==========================================================================
   Geral
   ========================================================================== */
body {
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

/* ==========================================================================
   Miscellaneous
   ========================================================================== */
.pkt_added {text-decoration:none !important;}

.input-append .add-on, .input-prepend .add-on {
  height: 22px;
}

.hide {
  display: none;
}

/* ==========================================================================
   Login
   ========================================================================== */
.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 40px auto 20px auto;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

/* ==========================================================================
   Tabelas
   ========================================================================== */
.table-hover .thead td {
  line-height: 2em;
  text-align: left;
  font-weight: bold;
}

.table td:last-child {
  padding-right: 0;
  text-align: right;
}

.table-hover tbody tr:hover > td {
  background: #ededed;
}

.table-hover tbody .thead:hover > td {
  background: transparent;
}

/* Ações das tabelas
   ========================================================================== */
.site-table__actions-list {
  display: inline-block;
  margin: 0;
}

.site-table__actions-list li {
  list-style-type: none;
  float: left;
  margin-right: 10px;
  font-size: 0.8em;
  text-transform: lowercase;
}

.site-table__actions-list li:last-child {
  margin-right: 0;
}


/* ==========================================================================
   Navegação principal
   ========================================================================== */
.nav li,
.nav a {
  cursor: pointer;
}


/* ==========================================================================
   Header das telas
   ========================================================================== */
.page-sub-header select {
  margin-right: 10px;
}
.page-sub-header button {
  float: right;
}

.page-sub-header {
  margin-bottom: 15px;
}

/* ==========================================================================
   Default dos Inputs
   ========================================================================== */
textarea,
input[type="text"],
input[type="password"] {
  /*padding: 15px 10px;*/
}

select {
  width: 210px;
}

/* Input do tipo "Título"
   ========================================================================== */
#title-input {
  border-color: transparent;
  box-shadow: none;
  font-size: 21px;
  padding-left: 0;
  margin: 5px 0;
  background: #f5f5f5;
  padding: 15px 10px;

  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

#title-input:hover {
/*  border: solid 1px;
  padding: 14px 10px;*/
  font-size: 14px;
  padding-left: 10px;
  background: #fff;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/* Select no "Título" de formulários
   ========================================================================== */
.title-select {
  float: right;
}

.row-fluid > form > div:nth-child(2) {
  margin-left: 0;
}

/* DatePicker do GWT
   ========================================================================== */
.gwt-DatePicker {
  background: #eee;
  color: #556;
  border-radius: 7px;
  box-shadow: 0px 0px 1px 0px #000, 2px 2px 10px -1px #ccc;
}

.gwt-DatePicker:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: solid 6px transparent;
  border-bottom-color: #aaa;
  position: absolute;
  top: -12px;
  left: 20px;
}

.gwt-DatePicker:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: solid 5px transparent;
  border-bottom-color: #eee;
  position: absolute;
  top: -10px;
  left: 21px;
}

.gwt-DatePicker td {
  padding: 3px 5px;
}

.datePickerMonth {
  width: 174px;
  text-align: center;
  font-weight: bold;
}

.gwt-DatePicker > tbody > tr:nth-child(2) {
  background: #fff;
}

.datePickerDay {
  padding: 2px 5px;
  font-size: 12px;
}

.datePickerDay:hover {
  background: #eee;
  font-weight: bold;
  padding: 1px 5px;
  cursor: pointer;
}

.datePickerNextButton,
.datePickerPreviousButton {
  cursor: pointer;
  padding: 0 5px;
}

.datePickerWeekdayLabel {
  color: #ccc;
}

.datePickerWeekendLabel {
  color: #aaa;
}

.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  text-align: left!important;
}

.datePickerDayIsValue {
  background: #aaa;
  color: #fff;
}

.datePickerDayIsValue:hover {
  background: #aaa;
}

.datePickerDayIsToday {
  color: red!important;
}

.datePickerDayIsToday:hover {
  color: red!important;
}
