.fan-table {
  width: 100%;
}

.fan-table thead {
  line-height: 2em;
  text-transform: uppercase;
  text-align: left;
}

.fan-table th,
.fan-table td {
  padding: 5px 50px 5px 0;
  border-bottom: solid 1px;
}

.fan-table th:last-child,
.fan-table td:last-child {
  padding-right: 0;
  text-align: right;
}

.fan-table tbody tr:hover {
  background: #a4b1d5;
}

.fan-table tbody tr:hover a {
  color: #fff;
}

.fan-table__actions-list {
  display: inline-block;
  margin: 0;
}

.fan-table__actions-list li {
  list-style-type: none;
  float: left;
  margin-right: 10px;
  font-size: 0.8em;
  text-transform: lowercase;
}

.fan-table__actions-list li:last-child {
  margin-right: 0;
}

.page-sub-header select {
  margin-right: 10px;
}

input[type="text"] {
  padding: 15px 10px;
}

.page-sub-header button {
  float: right;
}

.page-sub-header {
  margin-bottom: 15px;
}
