<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>FanService</servlet-name>
		<servlet-class>com.kradcifer.sociofan.server.FanServiceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FanService</servlet-name>
		<url-pattern>/sociofan/fans</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SeatService</servlet-name>
		<servlet-class>com.kradcifer.sociofan.server.SeatServiceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SeatService</servlet-name>
		<url-pattern>/sociofan/seats</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginService</servlet-name>
		<servlet-class>com.kradcifer.sociofan.server.LoginServiceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginService</servlet-name>
		<url-pattern>/sociofan/login</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>SocioFan.html</welcome-file>
	</welcome-file-list>

</web-app>
